@model GestorProducts


@{
    ViewData["Title"] = "ManageProduct";
}
<div class="text-center">
    <h1>Almacén de productos</h1>
</div>

<div class="text-center">
    <input type="button" name="Agregar" value="Agregar" class="btn btn-dark" onclick="window.location.href = '../Products/Agregar'" />
</div>

<br />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha vencimiento</th>
            <th scope="col">ID Proveedor</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model.Productos)
        {
            <tr>
                <th scope="col">@product.ID</th>
                <th>@product.NOMBRE</th>
                <th>@product.DESCRIPCION</th>
                <th>@product.FECHA_VEN</th>
                <th>@product.ID_PROVEEDOR</th>
                <th>
                    @Html.ActionLink("Editar", "Modificar", "Products", new { id = product.ID }) |
                    @Html.ActionLink("Eliminar", "Eliminar", "Products", new { id = product.ID })
                </th>
            </tr>
        }
    </tbody>
</table>

